/* http://colorschemedesigner.com/#0u11Tiinnw0w0 */

span.hide {
	display: none;
}

span.paratitle {
	font-variant: small-caps;
	font-weight: bold;
}

body {
	background-color: #732c02;
	background-image: url('resources/textured_paper.png');
	margin-top: 0px;
}

a {
	color: #cfffcf;
	text-decoration: none;
}
a.block {
	display: block;
	font-style: italic;
}
a:hover {
	color: #ccccff;
	text-decoration: underline;
}

a#bloglink {
	font-size: 80%;
}

p {
	text-indent: 2em;
}

img#logo {
	float: left;
	position: absolute;
}

img.blockpic {
	float: left;
}

div#title {
	font-family: serif;
	font-size: 2.5em;
	text-align: center;
}

div.content {
	max-width: 50em;
	/*background-color: #ffcfa6;*/
	/*background-color: #ffead8;*/
	background-color: #ffffff;
	color: #0d0000;
	font-family: sans;

	padding: 10px;
	margin-left: auto;
	margin-right: auto;

	overflow: hidden;
	display: block;
	
	-khtml-border-bottom-left-radius: 4px;
	-khtml-border-bottom-right-radius: 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;

	box-shadow: 0px 0px 50px 1px black;

	background-image: url('resources/cat-01.jpg');
	background-repeat: no-repeat;
	background-position: right bottom;
}

div.content a {
	color: #231f33;
}
div.content a:hover {
	color: #231f33;
}

h1 {
	color: #1f0000;
	font-family: serif;
	font-size: 1.7em;
	
	border-bottom: 1px dotted #2f0000;
	clear: both;
}

td {
	vertical-align: top;
}

table#schedule {
	margin: 1em;
}
table#schedule td.time {
	border-left: 1px dotted black;
}

address {
	display: block;
	font-style: normal;
	
	padding-top: 1em;
	padding-bottom: 1em;
}

div.footer {
	margin-top: 10px;
	color: #f2f2f2;
	font-size: 0.85em;
	font-family: monospace;
	
	text-align: center;
}

ul.clean {
	list-style-type: none;
}

#newslist {
	padding-left: 0px;
}

#newslist li {
	list-style-type: none;
	text-indent: 2em;
	margin-top: 15px;
	margin-bottom: 15px;
}

div.notice {
	font-style: italic;
	font-size: 0.9em;
}

img#mvma {
	position: absolute;
	float: right;
}
